BODY {
	FONT-SIZE: 100%; BACKGROUND: #ffffff; MARGIN: 5px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A {
	COLOR: #003399
}
A:visited {
	COLOR: #003399
}
A:active {
	COLOR: #003399
}
A.help {
	COLOR: #cc0000
}
A.help:visited {
	COLOR: #cc0000
}
A.help:active {
	COLOR: #cc0000
}
.rowUnMarked TD {
	BORDER-BOTTOM: #efefef 2px solid; BACKGROUND-COLOR: #fff
}
.rowMarked TD {
	BACKGROUND: #ffffcc; BORDER-BOTTOM: #ffcc66 2px solid
}
.resultTools TD {
	BACKGROUND: #ffffcc; BORDER-BOTTOM: #ffcc66 2px solid
}
.rowMarked TD TD {
	BORDER-BOTTOM-WIDTH: 0px
}
.resultTools TD TD {
	BORDER-BOTTOM-WIDTH: 0px
}
.rowRecentSearches TD {
	BACKGROUND: #ffdd97; BORDER-BOTTOM: #ff6600 2px solid
}
.rowVisitedPubs TD {
	BACKGROUND: #ffdd97; BORDER-BOTTOM: #ff6600 2px solid
}
.rowWhite TD {
	BORDER-BOTTOM-STYLE: none
}
.rowSaved TD {
	BACKGROUND: #ffffff
}
.rowUnSaved TD {
	BACKGROUND: #ffffff
}
.rowMarkedNavBar TD {
	PADDING-RIGHT: 6px; BORDER-TOP: black 1px solid; PADDING-LEFT: 6px; BACKGROUND: #ffffcc; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; BORDER-BOTTOM: #ffcc66 2px solid
}
.rowMarked DIV {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #cc0000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.rowUnMarked DIV {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.rowSaved DIV {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #cc0000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.rowUnSaved DIV {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.resultTools {
	CLEAR: both; BORDER-TOP: #333 1px solid
}
.resultTools TD {
	BACKGROUND: #ffffcc; BORDER-BOTTOM: #ffcc66 2px solid
}
.desirable {
	FONT-SIZE: 75%; COLOR: #ff00ff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bold {
	FONT-WEIGHT: bold
}
.login {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #999966; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.linkStd {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.redLink {
	COLOR: #cc0000
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN: 0px; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.header {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN: 0px; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H1.black {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.headerBlack {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H2 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 0.85em; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.subheader {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 0.85em; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H2.black {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 0.85em; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H1.inline {
	DISPLAY: inline
}
.lineHight {
	LINE-HEIGHT: 1.9em
}
.leftIdent {
	MARGIN-LEFT: 4em
}
.textMedium {
	FONT-SIZE: 80%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textMediumRelative {
	FONT-SIZE: 90%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textMediumBold {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textMediumItalic {
	FONT-SIZE: 80%; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textSmall {
	FONT-SIZE: 75%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textReallySmall {
	FONT-SIZE: 40%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textBold {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.alerts {
	FONT-SIZE: 11px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; FONT-FAMILY: Helvetica, sans-serif
}
P.collections {
	FONT-SIZE: 80%; MARGIN: 8px 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
UL {
	LINE-HEIGHT: 150%
}
UL.none {
	PADDING-LEFT: 20px; MARGIN: 0px; LIST-STYLE-TYPE: none
}
.rowColored {
	BACKGROUND: #ffffcc; BORDER-BOTTOM-STYLE: none
}
.italic {
	FONT-STYLE: italic
}
.bold {
	FONT-WEIGHT: bold
}
.legal {
	FONT-SIZE: 75%; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.small {
	FONT-SIZE: 90%; MARGIN: 8px 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.subtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 120%
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 200%
}
.hangingIndent {
	MARGIN: 0px 0cm 0px 1cm; TEXT-INDENT: -1cm
}
.printbib {
	MARGIN-LEFT: 2em; TEXT-INDENT: -2em; LINE-HEIGHT: 2.1
}
P.example {
	MARGIN-LEFT: 2em
}
.articletype {
	COLOR: #ff0000; FONT-FAMILY: "Courier New", Courier, monospace
}
.manual {
	COLOR: #ff0000; FONT-FAMILY: "Courier New", Courier, monospace
}
.rowNone TD {
	BORDER-BOTTOM-STYLE: none
}
P.NSForm {
	MARGIN-TOP: -1em
}
.printexample {
	COLOR: #339900; FONT-FAMILY: "Courier New", Courier, monospace
}
.spellcheck {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #cc0000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#whereIsButton {
	VISIBILITY: hidden; POSITION: relative; TOP: -2px
}
.toolbarTitle {
	PADDING-RIGHT: 2px; FONT-WEIGHT: bold; COLOR: #993333; PADDING-TOP: 2px; WHITE-SPACE: nowrap
}
.toolbarLinks {
	PADDING-LEFT: 12px; PADDING-TOP: 2px; WHITE-SPACE: nowrap
}
.pillLeft {
	PADDING-LEFT: 9px; HEIGHT: 20px
}
.pillRight {
	PADDING-RIGHT: 13px; POSITION: relative; TOP: -2px; HEIGHT: 20px
}
#navtabs {
	MARGIN-TOP: 15px; FONT-SIZE: 75%; WIDTH: auto; LINE-HEIGHT: normal
}
#navtabs UL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#navtabs LI {
	PADDING-RIGHT: 1px; PADDING-LEFT: 9px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#navtabs A {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 2px; WIDTH: 0.1em; COLOR: #000; PADDING-TOP: 3px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
#navtabs > UL A {
	WIDTH: auto
}
#navtabs A {
	FLOAT: none
}
#navtabs A:hover {
	COLOR: #000
}
DIV#basic {
	PADDING-BOTTOM: 1px; BORDER-BOTTOM: #f90 1px solid
}
DIV#advanced {
	PADDING-BOTTOM: 1px; BORDER-BOTTOM: #f90 1px solid
}
DIV#topics {
	PADDING-BOTTOM: 1px; BORDER-BOTTOM: #f90 1px solid
}
DIV#studypath {
	PADDING-BOTTOM: 1px; BORDER-BOTTOM: #f90 1px solid
}
DIV#publications {
	PADDING-BOTTOM: 1px; BORDER-BOTTOM: #f90 1px solid
}
DIV#myresearch {
	PADDING-BOTTOM: 1px; BORDER-BOTTOM: #f90 1px solid
}
DIV#browse {
	PADDING-BOTTOM: 1px; BORDER-BOTTOM: #f90 1px solid
}
DIV#unknown {
	PADDING-BOTTOM: 1px; BORDER-BOTTOM: #f90 1px solid
}
DIV#data {
	PADDING-BOTTOM: 1px; BORDER-BOTTOM: #f90 1px solid
}
#basic #nav-basic {
	BORDER-TOP-WIDTH: 0px; BACKGROUND-POSITION: 0px -150px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#advanced #nav-advanced {
	BORDER-TOP-WIDTH: 0px; BACKGROUND-POSITION: 0px -150px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#topics #nav-topics {
	BORDER-TOP-WIDTH: 0px; BACKGROUND-POSITION: 0px -150px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#publications #nav-publications {
	BORDER-TOP-WIDTH: 0px; BACKGROUND-POSITION: 0px -150px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#myresearch #nav-myresearch {
	BORDER-TOP-WIDTH: 0px; BACKGROUND-POSITION: 0px -150px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#topics {
	BORDER-TOP-WIDTH: 0px; BACKGROUND-POSITION: 0px -150px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#browse #nav-browse {
	BORDER-TOP-WIDTH: 0px; BACKGROUND-POSITION: 0px -150px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#studypath #nav-studypath {
	BORDER-TOP-WIDTH: 0px; BACKGROUND-POSITION: 0px -150px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#data #nav-reports {
	BORDER-TOP-WIDTH: 0px; BACKGROUND-POSITION: 0px -150px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#basic #nav-basic A {
	BACKGROUND-POSITION: 100% -150px; PADDING-BOTTOM: 2px; COLOR: #000; WHITE-SPACE: nowrap
}
#advanced #nav-advanced A {
	BACKGROUND-POSITION: 100% -150px; PADDING-BOTTOM: 2px; COLOR: #000; WHITE-SPACE: nowrap
}
#topics #nav-topics A {
	BACKGROUND-POSITION: 100% -150px; PADDING-BOTTOM: 2px; COLOR: #000; WHITE-SPACE: nowrap
}
#publications #nav-publications A {
	BACKGROUND-POSITION: 100% -150px; PADDING-BOTTOM: 2px; COLOR: #000; WHITE-SPACE: nowrap
}
#myresearch #nav-myresearch A {
	BACKGROUND-POSITION: 100% -150px; PADDING-BOTTOM: 2px; COLOR: #000; WHITE-SPACE: nowrap
}
#topics {
	BACKGROUND-POSITION: 100% -150px; PADDING-BOTTOM: 2px; COLOR: #000; WHITE-SPACE: nowrap
}
#browse #nav-browse A {
	BACKGROUND-POSITION: 100% -150px; PADDING-BOTTOM: 2px; COLOR: #000; WHITE-SPACE: nowrap
}
#studypath #nav-studypath A {
	BACKGROUND-POSITION: 100% -150px; PADDING-BOTTOM: 2px; COLOR: #000; WHITE-SPACE: nowrap
}
#data #nav-reports A {
	BACKGROUND-POSITION: 100% -150px; PADDING-BOTTOM: 2px; COLOR: #000; WHITE-SPACE: nowrap
}
#navtabs #nav-myresearch A {
	PADDING-RIGHT: 15px; PADDING-LEFT: 6px; FONT-SIZE: 90%; PADDING-BOTTOM: 1px; LINE-HEIGHT: 0.95em; PADDING-TOP: 1px; WHITE-SPACE: nowrap
}
#navtabs LI:hover {
	BACKGROUND-POSITION: 0% -150px; COLOR: #000
}
#navtabs LI:hover A {
	BACKGROUND-POSITION: 100% -150px; COLOR: #000
}
.profile {
	PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #3333cc
}
A SPAN.profile {
	TEXT-DECORATION: none
}
#adaBanner {
	DISPLAY: none
}
#nav-Desc {
	DISPLAY: none
}
#MyResearchBR {
	DISPLAY: block
}
#toolsTable {
	BACKGROUND-COLOR: #e6e6e6
}
.toolsLabel {
	FONT-WEIGHT: bold; COLOR: #993333
}
.toolsPrompt {
	DISPLAY: none
}
#docHolder {
	MARGIN-RIGHT: 260px
}
#formatBoxContainer {
	PADDING-RIGHT: 10px; PADDING-LEFT: 30px; FLOAT: right; PADDING-BOTTOM: 8px; PADDING-TOP: 0px
}
.formatBox {
	BORDER-RIGHT: #fc3 2px solid; PADDING-RIGHT: 6px; BORDER-TOP: #fc3 2px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 15px 4px; BORDER-LEFT: #fc3 2px solid; WIDTH: 204px; PADDING-TOP: 3px; BORDER-BOTTOM: #fc3 2px solid
}
.clearBox {
	BACKGROUND-COLOR: #fff
}
.brightBox {
	BACKGROUND-COLOR: #ffc
}
.restrictionLine {
	MARGIN: 1px 1px 18px
}
* HTML .formatBox {
	WIDTH: 204px
}
.backArrow {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
WBR:unknown {
	content: "?"
}
.MarkedCountContainer {
	FONT-WEIGHT: normal; FONT-SIZE: 90%; COLOR: #003399; LETTER-SPACING: 1px; TEXT-ALIGN: center
}
#moreOptButtonLeft {
	FLOAT: left; PADDING-BOTTOM: 2px; WIDTH: 9px; WHITE-SPACE: nowrap
}
#moreOptButtonRight {
	PADDING-RIGHT: 9px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; WHITE-SPACE: nowrap
}
#moreOptButtonExtra {
	FLOAT: left; PADDING-TOP: 4px
}
.upcaret {
	COLOR: #cc0000; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
TABLE#tblResTabs {
	MARGIN-TOP: 5px
}
TABLE#tblResTabs TD {
	BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: center
}
TABLE#tblResTabs TD.activeTabLeft {
	BACKGROUND: url(/images/common/tab_lt_on.gif) #ffcc33 no-repeat left top; WIDTH: 8px
}
TABLE#tblResTabs TD.activeTab {
	BACKGROUND-COLOR: #ffcc33
}
TABLE#tblResTabs TD.activeTabRight {
	BACKGROUND: url(/images/common/tab_rt_on.gif) #ffcc33 no-repeat right top; WIDTH: 8px
}
.inactiveTabLeft {
	BACKGROUND: url(/images/common/tab_lt_off.gif) #e6e6e6 no-repeat left top; WIDTH: 8px
}
.inactiveTabRight {
	BACKGROUND: url(/images/common/tab_rt_off.gif) #e6e6e6 no-repeat right top; WIDTH: 8px
}
TABLE#tblResTabs TD.tabSpacer {
	FONT-SIZE: 4px; WIDTH: 4px; COLOR: #fff; BACKGROUND-COLOR: #fff
}
#suggestContainer {
	BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #808080 1px solid; MARGIN-LEFT: 20px; BORDER-LEFT: #808080 1px solid; WIDTH: 740px; BORDER-BOTTOM: #808080 1px solid
}
.suggestRow {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #808080 1px solid; BACKGROUND-COLOR: #ffffcc
}
.suggestPanel {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.otherColumn {
	PADDING-LEFT: 0px
}
UL.pqlist {
	MARGIN-TOP: 0em; PADDING-LEFT: 1em; LINE-HEIGHT: 130%
}
UL.pqlist LI TABLE {
	POSITION: relative; TOP: 6px
}
UL.tableList {
	MARGIN-TOP: 0em; PADDING-LEFT: 0em; MARGIN-LEFT: 3em; LINE-HEIGHT: 130%; LIST-STYLE-TYPE: none
}
UL.tableList LI {
	PADDING-LEFT: 1em; BACKGROUND: url(/images/common/listdot.gif) no-repeat left top
}
UL.tableList LI TABLE {
	POSITION: relative; TOP: -10px
}
UL.tableList LI TABLE.dbContainerTable {
	TOP: 0px
}
#copyrightBody {
	CLEAR: both; BORDER-TOP: #ff9900 1px solid; MARGIN-BOTTOM: 5px; TEXT-ALIGN: center
}
#copyrightLines {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
#copyrightADA {
	MARGIN-BOTTOM: 4px
}
.warning {
	COLOR: #ff0000
}
.citation {
	PADDING-RIGHT: 4px; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #ffffcc
}
#siteInstructions {
	MARGIN: 20px 0px
}
#siteInstructions SPAN {
	FONT-WEIGHT: bold
}
.siteBib {
	LINE-HEIGHT: 2.1
}
#citationForm {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 20px 0px; PADDING-TOP: 0px
}
#docView #pageBody {
	
}
#copyLink {
	CURSOR: default; COLOR: #000; TEXT-DECORATION: none
}
A SPAN.noUnder {
	TEXT-DECORATION: none
}
.adaHiddenText {
	COLOR: #fff; BACKGROUND-COLOR: #fff
}
.docSection DIV {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.docBlock {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.docBar {
	BACKGROUND-COLOR: #fc6
}
.docBar2 {
	BACKGROUND-COLOR: #e6e6e6
}
.docCitationContainer DIV {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
A.arrow {
	TEXT-DECORATION: none
}
#pagePopup {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.formatOption {
	PADDING-TOP: 5px
}
.disabledLink {
	COLOR: #666
}
#moreLikeThisSection DIV.check {
	TEXT-INDENT: -2em
}
#moreLikeThisSection DIV.check INPUT {
	POSITION: relative; TOP: 1px
}
#moreLikeThisSection DIV.heading {
	PADDING-RIGHT: 3px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
#moreLikeThisSection DIV.value {
	MARGIN-LEFT: 2em
}
#moreLikeThisSection SPAN.moreTitle {
	FONT-WEIGHT: bold
}
#moreLikeThisSection DIV.wrapper {
	MARGIN-LEFT: 15px
}
#moreLikeThisSection DIV.more {
	DISPLAY: none; VISIBILITY: hidden
}
.hHl {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.supplementalFileList {
	PADDING-BOTTOM: 4px
}
DIV.suppFile {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; MARGIN: 4px 4px 4px 0px; BORDER-LEFT: white 1px solid; BORDER-BOTTOM: white 1px solid
}
DIV.suppIcon {
	FLOAT: left; MARGIN-LEFT: 12px; WIDTH: 16px
}
DIV.audio {
	BACKGROUND: url(/images/common/icon_audio.gif) no-repeat left top
}
DIV.video {
	BACKGROUND: url(/images/common/icon_video.gif) no-repeat left top
}
DIV.image {
	BACKGROUND: url(/images/common/icon_image.gif) no-repeat left top
}
DIV.data {
	BACKGROUND: url(/images/common/icon_data.gif) no-repeat left top
}
DIV.doc {
	BACKGROUND: url(/images/common/icon_doc.gif) no-repeat left top
}
DIV.xls {
	BACKGROUND: url(/images/common/icon_xls.gif) no-repeat left top
}
DIV.ppt {
	BACKGROUND: url(/images/common/icon_ppt.gif) no-repeat left top
}
DIV.web {
	BACKGROUND: url(/images/common/icon_web.gif) no-repeat left top
}
DIV.pdf {
	BACKGROUND: url(/images/common/icon_pdf.gif) no-repeat left top
}
DIV.text {
	BACKGROUND: url(/images/common/icon_txt.gif) no-repeat left top
}
DIV.script {
	BACKGROUND: url(/images/common/icon_script.gif) no-repeat left top
}
DIV.zip {
	BACKGROUND: url(/images/common/icon_zip.gif) no-repeat left top
}
DIV.unknown {
	BACKGROUND: url(/images/common/icon_unknown.gif) no-repeat left top
}
DIV.suppLink {
	FLOAT: left; MARGIN: 0px 0px 2px 2px
}
DIV.createUL {
	BORDER-BOTTOM: #333 1px solid
}
DIV.createUL UL.pqlist {
	MARGIN-TOP: 1em; PADDING-LEFT: 1em; LINE-HEIGHT: 130%
}
.docSection SPAN.suppTitle {
	FONT-WEIGHT: bold; POSITION: relative; TOP: -2px
}
#disclaimerMessages {
	MARGIN-LEFT: 4px
}
#moreInfo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 6px; PADDING-TOP: 2px
}
#supplementalFileSection {
	MARGIN-BOTTOM: 20px
}
DIV.suppFile .brclear {
	CLEAR: left; PADDING-BOTTOM: 2px
}
.tree {
	PADDING-LEFT: 10px; FONT-SIZE: 80%; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.searchTree {
	BORDER-RIGHT: #fc6 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #fc6 1px solid; PADDING-LEFT: 15px; PADDING-BOTTOM: 25px; MARGIN: 20px; BORDER-LEFT: #fc6 1px solid; PADDING-TOP: 25px; BORDER-BOTTOM: #fc6 1px solid; BACKGROUND-COLOR: #ffc
}
.searchLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; PADDING-BOTTOM: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#logoLine {
	VERTICAL-ALIGN: top
}
#logoLine SPAN {
	FLOAT: left; VERTICAL-ALIGN: top
}
#logoLine SPAN.opposite {
	FLOAT: right
}
LI.topicTreePart {
	MARGIN-TOP: 7px; MARGIN-BOTTOM: 7px
}
.emailFormatDescription {
	FONT-STYLE: italic
}
#clipCopyright {
	FONT-STYLE: italic
}
#embedContainer {
	PADDING-LEFT: 4px; PADDING-TOP: 0px
}
#playerContainer {
	PADDING-RIGHT: 5px; FLOAT: left; WIDTH: 400px
}
#clipInfo {
	MARGIN-TOP: 10px; MARGIN-LEFT: 333px
}
#clipInfo P {
	MARGIN-TOP: 0px
}
.hidden {
	LEFT: -1000em; WIDTH: 20em; POSITION: absolute
}
.button {
	MARGIN-LEFT: 4px; MARGIN-RIGHT: 0px; WHITE-SPACE: nowrap
}
.buttonSecondary {
	BORDER-RIGHT: #f90 1px solid; BORDER-TOP: #fae790 1px solid; BACKGROUND: url(/images/common/buttonBgSecondary.gif); BORDER-LEFT: #fae790 1px solid; BORDER-BOTTOM: #f90 1px solid
}
.buttonPrimary {
	BORDER-RIGHT: #f90 1px solid; BORDER-TOP: #fae790 1px solid; BACKGROUND: url(/images/common/buttonBgPrimary.gif); BORDER-LEFT: #fae790 1px solid; BORDER-BOTTOM: #f90 1px solid
}
.buttonTransparent {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 75%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 1px; MARGIN: 0px; CURSOR: pointer; COLOR: #000; PADDING-TOP: 1px; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-RIGHT-WIDTH: 0px
}
.buttonTransparentNormal {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 90%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 1px; MARGIN: 0px; CURSOR: pointer; COLOR: #000; PADDING-TOP: 1px; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-RIGHT-WIDTH: 0px
}
H1.inline {
	DISPLAY: inline; WHITE-SPACE: nowrap
}
H2.inline {
	DISPLAY: inline; WHITE-SPACE: nowrap
}
H3.inline {
	DISPLAY: inline; WHITE-SPACE: nowrap
}
.linkPrimary A {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; COLOR: black; PADDING-TOP: 4px; TEXT-DECORATION: none
}
.linkSecondary A {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; COLOR: black; PADDING-TOP: 4px; TEXT-DECORATION: none
}
.linkPrimary {
	BORDER-RIGHT: #f90 1px solid; BORDER-TOP: #fae790 1px solid; BACKGROUND: url(/images/common/buttonBgPrimary.gif); BORDER-LEFT: #fae790 1px solid; BORDER-BOTTOM: #f90 1px solid
}
.linkSecondary {
	BORDER-RIGHT: #fc6 1px solid; BORDER-TOP: #fae790 1px solid; BACKGROUND: url(/images/common/buttonBgSecondary.gif); BORDER-LEFT: #fae790 1px solid; BORDER-BOTTOM: #fc6 1px solid
}
.linkButton {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; COLOR: #000; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
.resultTab DIV.active {
	PADDING-LEFT: 8px; BACKGROUND: url(/images/common/tab_lt_on.gif) #ffcc33 no-repeat left top; MARGIN-RIGHT: 4px
}
.resultTab DIV.inactive {
	PADDING-LEFT: 8px; BACKGROUND: url(/images/common/tab_lt_off.gif) #e6e6e6 no-repeat left top; MARGIN-RIGHT: 4px
}
.resultTab DIV.active SPAN {
	PADDING-RIGHT: 8px; DISPLAY: block; BACKGROUND: url(/images/common/tab_rt_on.gif) #ffcc33 no-repeat right top; PADDING-BOTTOM: 3px; PADDING-TOP: 1px
}
.resultTab DIV.inactive SPAN {
	PADDING-RIGHT: 8px; DISPLAY: block; BACKGROUND: url(/images/common/tab_rt_off.gif) #e6e6e6 no-repeat right top; PADDING-BOTTOM: 3px; PADDING-TOP: 1px
}
#treeHeader {
	FLOAT: left
}
#treeQuery {
	CLEAR: left
}
#treeBack {
	MARGIN-LEFT: 24%
}
.treePlus {
	LEFT: -18px; POSITION: relative
}
.treeText {
	LEFT: -15px; POSITION: relative
}
#topicBody #headerText {
	MARGIN-TOP: 15px; FLOAT: left; MARGIN-LEFT: 3px; WHITE-SPACE: nowrap
}
#browseSubTree #browseInstructions {
	MARGIN-TOP: 12px
}
#topicBody #headerLinks {
	MARGIN-TOP: 15px; FLOAT: left; MARGIN-LEFT: 50px
}
#browseSubTree #fullLink {
	MARGIN-TOP: 12px
}
.errMsg {
	FONT-WEIGHT: bold
}
.europeanCharacters {
	DISPLAY: none
}
TABLE#resultstable {
	BACKGROUND-COLOR: #ffffff
}
TABLE#resultstable TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TABLE#resultstable TD .icon {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TABLE#basic FORM {
	POSITION: relative; TOP: 2px
}
TABLE#advanced FORM {
	POSITION: relative; TOP: 2px
}
TABLE#reports FORM {
	POSITION: relative; TOP: 2px
}
TABLE#publications FORM {
	POSITION: relative; TOP: 2px
}
TABLE#browse FORM {
	POSITION: relative; TOP: 2px
}
TABLE #myresearch FORM {
	POSITION: relative; TOP: 2px
}
.rowUnMarked2 {
	CLEAR: both; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #efefef 2px solid; BACKGROUND-COLOR: #fff
}
.rowMarked2 {
	CLEAR: both; BACKGROUND: #ffc; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #ffcc66 2px solid
}
.resultsItem {
	CLEAR: both; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.resultsItemBody {
	FLOAT: right; WIDTH: 96%; LINE-HEIGHT: 160%
}
.resultsNumber {
	FLOAT: left; WIDTH: 20px; LINE-HEIGHT: 150%; MARGIN-RIGHT: 4px
}
.resultsHLL {
	FLOAT: left; WIDTH: 96%; LINE-HEIGHT: 150%
}
.resultsFormats {
	CLEAR: left; FLOAT: none; MARGIN-LEFT: 50px
}
.resultsFormats UL {
	DISPLAY: inline; PADDING-LEFT: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.resultsFormats UL LI {
	PADDING-RIGHT: 3px; DISPLAY: inline; PADDING-LEFT: 5px; MARGIN-LEFT: 0px; BORDER-LEFT: black 1px solid; LIST-STYLE-TYPE: none
}
.resultsFormats UL LI.first {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.resultsCheckbox {
	MARGIN-LEFT: 6px
}
.resultsHLL .doctitle {
	FONT-WEIGHT: bold
}
#formBasic {
	CLEAR: both; PADDING-RIGHT: 3px; PADDING-LEFT: 17px; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 26px; PADDING-TOP: 3px
}
#formBasicInputLine {
	MARGIN-BOTTOM: 5px
}
#formBasicInputLine #SQ {
	
}
#pageBanner {
	PADDING-BOTTOM: 2px; BORDER-BOTTOM: #f90 1px solid
}
#languageForm SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.clear {
	CLEAR: both
}
#selDBLinkLine {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; WHITE-SPACE: nowrap
}
#moreOptLine {
	CLEAR: both; WIDTH: 580px; BORDER-BOTTOM: #333 1px solid; HEIGHT: 1px
}
#pageNavLine {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
DIV#transContainer {
	BORDER-RIGHT: #fc6 2px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fc6 2px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #fc6 2px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #fc6 2px solid; BACKGROUND-COLOR: #ffc
}
DIV#transContainer SPAN.exclaimation {
	FONT-WEIGHT: bold; COLOR: #f00
}
.doubleArrow {
	COLOR: #cc0000; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
#pubDetail DIV.indent {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 0px 114px; PADDING-TOP: 4px
}
#pubDetail {
	MARGIN-TOP: 10px; WIDTH: 600px
}
#pubDetail DIV.indent DIV.padMe {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#pubDetail DIV.indent DIV.padMe DIV.engContent {
	MARGIN-LEFT: 8px
}
.nowrap {
	WHITE-SPACE: nowrap
}
#ajaxPopup {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.rssLink {
	BORDER-RIGHT: #ffaa55 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffaa55 1px solid; PADDING-LEFT: 14px; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND: url(/images/common/rss_small.gif) #fff no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 1px 1px 1px 8px; BORDER-LEFT: #ffaa55 1px solid; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #ffaa55 1px solid; HEIGHT: 11px
}
.rssLink A {
	COLOR: black; TEXT-DECORATION: none
}
.rssLink A:hover {
	COLOR: black; TEXT-DECORATION: none
}
.rssLink A:visited {
	COLOR: black; TEXT-DECORATION: none
}
#markedBulletItems {
	MARGIN-TOP: 6px; MARGIN-BOTTOM: 6px
}
TABLE#dataReportsLimiters {
	MARGIN-LEFT: 25px
}
