**/node_modules
**/.vscode
**/build/Gulp/src
**/build/Gulp/pre
**/build/Gulp/run
**/GenLib
**/ChemDoodle
**/Ketcher
**/PowerPoint Talks--Libraries
*.js.map

pdfs
CatchAFire/
Gulp/
Reference/UPhoenix

**/__NotesToWorkOn