# Unignore specific js directories under ExpressionsThroughHearts
!CatchAFire/ExpressionsThroughHearts/
!CatchAFire/ExpressionsThroughHearts/**/
!CatchAFire/ExpressionsThroughHearts/js/
!CatchAFire/ExpressionsThroughHearts/js/**/*.js
!CatchAFire/ExpressionsThroughHearts/js/**/*.json

# Ignore symlinked directories
CatchAFire/ExpressionsThroughHearts/build/Gulp/src
CatchAFire/ExpressionsThroughHearts/GenLib
Tutoriing/src/Genlib/
CatchAFire/ExpressionsThroughHearts/.vscode
CatchAFire/ExpressionsThroughHearts/ExpressionsThroughHearts.code-workspace

# Other ignore rules
node_modules/
**/*.js.map
**/build/Gulp/run/
CatchAFire/AngularTutorial/
CatchAFire/ExpressionsThroughHearts/GenLib/

