**/node_modules
**/.vscode
**/build/Gulp/src
**/build/Gulp/pre
**/build/Gulp/run
**/GenLib
**/ChemDoodle
**/Ketcher
**/PowerPoint Talks--Libraries
*.js.map
bfg.jar
pdfs/
CatchAFire/
Gulp/
Teaching/
Reference/UPhoenix

**/__NotesToWorkOn

request.rest
DriveAPIcredentials.json
Teaching/js/GoogleDriveApiFileRetrieve.js
Teaching/js/GoogleDriveApiFileListing[Node].js
Teaching/src/GoogleDriveApiFileRetrieve.ts
Teaching/src/GoogleDriveApiFileListing[Node].ts
mavigozler.github.io-mirror.git/
