	body { margin:0 5% ;background-color:#f4fff4;width:55em;}
	h1 { font:bold 150% "Times New Roman",serif;
    		margin:1.5em 0 1em 0 ; color : #2222bb;
			border-top : 10px solid #bbbbbb ; }
   h2 { font : bold 125% Tahoma,Arial,sans-serif ;
    		margin : 1em 1em 0.5em 0.75em ; color : #884444 ; }
   h3 { font : bold 110% "Times New Roman",serif;margin:1em;
          font-style:oblique;}
   h4 {font:bold 90% Arial,sans-serif;margin:0.5em 2em;}
   img { margin : 1em ; vertical-align : middle; }
	ul, ol { margin-top : 0.5ex; margin-bottom : 0.5ex ; }
   li { margin-left : 0.5ex ; }
	dt { font : bold 83% 'Courier New',Courier,monospace ;
	   margin : 0.5em 0 0 1em ;
	   color : blue ; }
   dd { margin : 0 0 0 2em ; }
   table { margin:1em 0 ; background-color:#ddd; }
   th {padding:0.5em vertical-align:bottom;background-color:#fff0f0;
	   font : bold 85% Helvetica,Arial,sans-serif; }
   td {padding:0.1em 0.5em;background-color:#f0f8ff;}
	caption { font : bold 95% Tahoma,'Arial Narrow',Arial,sans-serif;
		   padding : 0.1em 3em ; color : red ; background-color : #e8e8ff ;	}
	.bord { border-bottom : 1px solid black ; }
  .eqn, .eqn TD { background:none;text-align:center;padding:0;margin:0;
     font-size:110%;}
  .eqnserif, .eqnserif TD {background:none;padding:0;margin:0;text-align:center;
     font:normal 110% 'Times New Roman','Times Roman',Times,serif;}
  P.eqnserif, P.eqn {margin-top:1em;}
  sup, sub, sub sub, sup sup, sub sup, sup sub {font-size:75%;}
	.indent {margin-left:5em;}
   .overbar {text-decoration: overline;}
   .numerator {border-bottom:1px solid black;}
   .numerator-center {border-bottom:1px solid black;text-align:center;}
   #title {text-align:center;font:bold 150% Tahoma,Arial,sans-serif;
      color:blue;margin:2em 0;}

