/* cSpell: disable */
:root {
   --light-text:  #ddd;
   --container-light-bkgd: white;
   color-scheme: light dark;
}
body {
   background-color: light-dark(#f8fff8, black);
   color: light-dark(black, var(--light-text, #ddd));
   font: normal 13pt Roboto,sans-serif;
   margin:0;
   padding:0;
}
p {
   margin: 0;
   padding: 0;
   margin-bottom: 1em;
}
a { color: light-dark(navy, rgb(255, 170, 0))}
h1 {
   /* clear: both; */
   margin: 0;
   padding: 0;
   margin-top: 1em;
   margin-bottom: 0.25em;
   color: light-dark(blue, #f4e625);
   font: bold 24pt Arial,sans-serif;
   text-align: center;
}
h2 {
   margin: 1em 0 0.5em;
   font: bold 18pt "Segoe UI",sans-serif;
}
h3 {
   margin: 1em 0 0.5em;
   font: bold 14pt Georgia;
}
h4 {
   margin: 1em 0 0.5em;
   font: oblique 13pt Merriweather;
}
table {
   font-size: 115%;
   color: light-dark(#111111, var(--light-text));
   background-color:light-dark(#888, #111111);
   width:80%;
   max-width: 35em;
   font-family:Helvetica,Arial,sans-serif;
	margin:1em auto;
   padding:0.5em;
   border-collapse: collapse;
}
caption {
   margin:0;
   color:light-dark(black, yellow);
   background-color:light-dark(white,black);
   font: bold 110% Montserrat;
}
th {
   color: light-dark(black, #bbb);
   background-color:light-dark(white,dark);
   text-align:center;
   border:2px solid;
   border-color: light-dark(black, #a8a);}
td {
   color: light-dark(black, var(--light-text));
   background-color: light-dark(white,black);
   border:2px solid;
   border-color: light-dark(black, #a8a);
}
td.separator {
   font: italic 80% Lato;
   color: light-dark(black, black);
   background-color: light-dark(silver, rgb(235, 217, 171));
}
ul ul, ul ol {
   font-size: 87%;
   list-style-type: square;
}
ul {
   padding-inline-start: 2em;
}