BODY {
	FONT-SIZE: x-small; MARGIN: 0px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
TABLE {
	FONT-SIZE: x-small; MARGIN: 0px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: medium; COLOR: #333366; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; TEXT-TRANSFORM: uppercase; COLOR: #333399; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.trb {
	BORDER-RIGHT: #666699 2px; BORDER-TOP: #9999cc 4px solid; BORDER-BOTTOM: #000000 2px solid; BORDER-LEFT-STYLE: none
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #336699; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
OL {
	
}
UL {
	FONT-SIZE: xx-small; COLOR: black; FONT-FAMILY: verdana, Arial, 'MS Sans Serif'
}
LI {
	COLOR: black
}
A:active {
	FONT-SIZE: x-small; COLOR: #000066; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
A:link {
	FONT-SIZE: x-small; COLOR: #000066; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
A:visited {
	FONT-SIZE: x-small; COLOR: #000066; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
A:hover {
	FONT-SIZE: x-small; COLOR: #996600; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.small {
	FONT-SIZE: xx-small; COLOR: black; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.H4 {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: white; FONT-FAMILY: verdana, Arial, 'MS Sans Serif'; BACKGROUND-COLOR: #336699
}
.headline {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #003366; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.header {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #336699
}
.bird {
	BACKGROUND-POSITION: 400px 0px; BACKGROUND-IMAGE: url(/images/mycampus.gif); BACKGROUND-REPEAT: no-repeat
}
.subhead {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: black; LINE-HEIGHT: 8px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
A.menu {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #ffffff; FONT-FAMILY: verdana, Arial; TEXT-DECORATION: none
}
A.menu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #ffffff; FONT-FAMILY: verdana, Arial; TEXT-DECORATION: none
}
A.menu:visited {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #ffffff; FONT-FAMILY: verdana, Arial; TEXT-DECORATION: none
}
A.menu:link {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #ffffff; FONT-FAMILY: verdana, Arial; TEXT-DECORATION: none
}
