SPAN.special-text-red {
	COLOR: #f00
}
.special-text-red {
	COLOR: #f00
}
SPAN.special-text-green {
	COLOR: green
}
.special-text-green {
	COLOR: green
}
SPAN.special-text-smallcaps {
	FONT-VARIANT: small-caps
}
.special-text-smallcaps {
	FONT-VARIANT: small-caps
}
SPAN.high-alert {
	COLOR: #f00; FONT-VARIANT: small-caps
}
.high-alert {
	COLOR: #f00; FONT-VARIANT: small-caps
}
SPAN.special-text-dotted-underline {
	BORDER-BOTTOM: 1px dotted
}
.special-text-dotted-underline {
	BORDER-BOTTOM: 1px dotted
}
SPAN.special-text-bold {
	FONT-WEIGHT: bold
}
.special-text-bold {
	FONT-WEIGHT: bold
}
SPAN.special-text-frequent {
	FONT-WEIGHT: bold; COLOR: #f00; BORDER-BOTTOM: 1px dotted
}
.special-text-frequent {
	FONT-WEIGHT: bold; COLOR: #f00; BORDER-BOTTOM: 1px dotted
}
SPAN.special-text-roman {
	FONT-WEIGHT: normal; FONT-SIZE: 0.8em; COLOR: #000; FONT-STYLE: normal
}
.special-text-roman {
	FONT-WEIGHT: normal; FONT-SIZE: 0.8em; COLOR: #000; FONT-STYLE: normal
}
DIV.special-text-inset-note {
	FONT-WEIGHT: normal; FONT-SIZE: 0.7em; MARGIN-LEFT: 60px; MARGIN-RIGHT: 60px; FONT-STYLE: normal
}
DIV.special-text-inset {
	FONT-WEIGHT: normal; FONT-SIZE: 0.8em; MARGIN: 0px 60px 16px; FONT-STYLE: normal
}
DIV.table-size-normal-no-border {
	MARGIN: 20px 60px
}
DIV.table-size-normal-no-border TABLE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-RIGHT-WIDTH: 0px
}
DIV.table-size-normal-no-border TH {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 0.8em; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: text-top; PADDING-TOP: 3px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
DIV.table-size-normal-no-border TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 0.8em; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: text-top; PADDING-TOP: 3px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
DIV.table-size-normal-no-border TD.center {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 0.8em; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: text-top; PADDING-TOP: 3px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
DIV.table-size-normal-no-border LI {
	FONT-SIZE: 0.8em
}
DIV.table-size-normal {
	MARGIN: 20px 60px
}
DIV.table-size-normal TABLE {
	BORDER-RIGHT: #000000 2px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000000 2px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #000000 2px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #000000 2px solid; BORDER-COLLAPSE: collapse
}
DIV.table-size-normal TH {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 0.8em; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: text-top; PADDING-TOP: 3px; TEXT-ALIGN: center
}
DIV.table-size-normal TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: text-top; PADDING-TOP: 3px; TEXT-ALIGN: left
}
DIV.table-size-normal TD.center {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: text-top; PADDING-TOP: 3px; TEXT-ALIGN: center
}
DIV.table-size-normal LI {
	FONT-SIZE: 0.8em
}
.highlight {
	BACKGROUND-COLOR: #f5f5dc
}
.table-border TD {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.table-border TH {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
DIV.code-matrix-definition-list {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; FONT-SIZE: xx-small; MARGIN: 20px 60px; BORDER-LEFT: #000 1px solid; WIDTH: 40%; BORDER-BOTTOM: #000 1px solid
}
DIV.code-matrix-definition-list H3 {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; MARGIN: 0px; BACKGROUND-COLOR: #f5f5dc; TEXT-ALIGN: center
}
DIV.code-matrix-definition-list DIV {
	FONT-STYLE: italic; BACKGROUND-COLOR: #f5f5dc; TEXT-ALIGN: center
}
DIV.code-matrix-definition-list DT {
	FONT-WEIGHT: bold; FLOAT: left; WIDTH: 40px; LINE-HEIGHT: 1.5; TEXT-ALIGN: right
}
DIV.code-matrix-definition-list DD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; LINE-HEIGHT: 1.5
}
DIV.code-matrix-definition-list DD:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.highAlertButtonLink {
	PADDING-RIGHT: 15px; DISPLAY: inline; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 0.75em; BACKGROUND: url(../inlineDropShadow.gif) #a40c32 no-repeat right bottom; PADDING-BOTTOM: 5px; COLOR: #fff; LINE-HEIGHT: 3; PADDING-TOP: 5px
}
.subhead {
	FONT-WEIGHT: bold; FONT-SIZE: 0.95em
}
.isubhead {
	FONT-WEIGHT: bold; FONT-SIZE: 0.95em; FONT-STYLE: italic
}
.section {
	FONT-WEIGHT: bold
}
.isection {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
.author {
	FONT-WEIGHT: bold
}
.question {
	FONT-WEIGHT: bold
}
.iquestion {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
.tablehead {
	FONT-WEIGHT: 500; FONT-VARIANT: normal
}
.itablehead {
	FONT-WEIGHT: 500; FONT-STYLE: italic; FONT-VARIANT: normal
}
.smalltable {
	FONT-WEIGHT: 500; FONT-SIZE: 0.85em; FONT-STYLE: normal; FONT-VARIANT: normal
}
.ismalltable {
	FONT-WEIGHT: 500; FONT-SIZE: 0.85em; FONT-STYLE: italic; FONT-VARIANT: normal
}
.source {
	FONT-WEIGHT: normal; FONT-SIZE: 0.85em
}
.isource {
	FONT-WEIGHT: normal; FONT-SIZE: 0.85em; FONT-STYLE: italic
}
.articletitle {
	FONT-WEIGHT: 600; FONT-SIZE: 1.8em
}
.iarticletitle {
	FONT-WEIGHT: 600; FONT-SIZE: 1.5em; FONT-STYLE: italic
}
.listauthor {
	FONT-WEIGHT: bold
}
.listtitle {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
.listnormal {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
.special {
	FONT-WEIGHT: normal
}
.texttitle {
	FONT-WEIGHT: normal; FONT-SIZE: 0.85em; FONT-STYLE: italic
}
.full-text-content LI {
	LIST-STYLE-POSITION: inside
}
