/* base = std.css */

/* for styling numeric citations in text */

span.intext-citenum  {color:red;}

/* endnote citations block styling */
div#endnote, 
div.citeblock {font:normal 83% Palatino,Century,serif;}

div#endnote * a, 
div.citeblock * a         {color:green;}

div#endnote * a:hover,
div.citeblock * a:hover   {color:magenta;}

div#endnote * a:visited,
div.citeblock * a:visited {color:gray;}

div#endnote * li,
div.citeblock * li    {font-size:90%;}
