 body {background-color:navy;width:100%!important;}
 div.contentblock {
	background-color:white;
  padding:1em 2em;
  width:35em;
	margin:2em auto;
 }
 div.widetable { 
		background:none;
		margin:0 3% !important;
	}
 div.widetable table { 
		background-color:white;
		margin:1em auto !important;
	}

/* special table and table cell classes and ids */
 #protease-inhibitors td {color:navy;font-weight:bold;font-size:130%;}
 .category {text-align:left!important;color:black!important;
		font-size:105%!important;font-weight:normal!important;width:25em;}
 .reconstitution {text-align:left!important;
      font:normal 83% Helvetica,Tahoma,sans-serif!important;color:black!important;}
 img {width:100%;}
 blockquote {width:50%;font:normal 100% 'Courier New',Courier,monospace;}
 a{color:red;}
 a:hover{color:green;}
 #IPG-rehydration TH {text-align:left; width:20em;}
 #IPG-rehydration TD {text-align:center; width:6em;}
 .standard TH {text-align:center}
 .standard TD {text-align:center}
 .reducedTable {font-size:75%;}
 .centeredTD TD {text-align:center;}
 .pepmasses TD {font:normal 100% "Courier New",Courier,monospace;}
 .pepmasses TH {font:normal 83% Arial,Helvetica,sans-serif;}
 .left {text-align:left ! important;}
 .eqnserif, .eqnserif TD { background:none;text-align:center;padding:0;
     font:normal 110% 'Times New Roman','Times Roman',Times,serif;}
	 .question {font:normal 90% Arial,Helvetica,Tahoma,sans-serif;
	 	margin:1em 3%;}
	 .answer {font:normal 100% "Century Schoolbook",Bookman,"Bookman Old Style",
	     "Times New Roman","Times Roman",Times,serif;}
	.numer {border-bottom:1px solid black;}
 caption {margin-top:1em;}
 .TD6 td {width:6em;}

   #ammoniumsulfate-calculator th {text-align:right;vertical-align:top;
	  background-color:#fff;}
   #ammoniumsulfate-calculator td {background-color:#ddd;}
   #ammoniumsulfate-calculator * input {text-align:right;font-size:110%;}
	#AmmSO4error {font:bold 90% Arial,Helvetica,sans-serif;color:red;}
#title {font:bold 175% Tahoma,Arial,sans-serif;
			text-align:center;margin:1em 0;color:#bef;}
#subtitle {font:bold 140% Helvetica,Arial,sans-serif;
			text-align:center;margin:0.75em 0;color:#f55;}
 cite {font-style:normal;font-size:83%;}

 #top-panel {position:fixed;height:auto;width:100%;background:inherit;
    top:0;z-index:1;}
 #scrolling-panel {}
 body {margin-top:0!important;padding-top:0!important;}
 #subtitle {margin-top:0.3em!important;}
 #title {margin-bottom:0!important;}
 #index-button-left {position:absolute;left:2%;top:10%;}
 #index-button-right {position:absolute;right:2%;top:10%;}
 #index-button-left button, #index-button-right button 
     {width:6em;color:green;

		background-image: -moz-radial-gradient(circle,white,silver);
		background-image: -ms-radial-gradient(circle,white,silver);
		background-image: -o-radial-gradient(circle,white,silver);
		background-image: -webkit-radial-gradient(circle,white,silver);
 }
 .orig-size {width:auto;}
/* 
Microsoft gradients for IE
  args (order not important, each must be comma-separatred)
   1. GradientType=[0|1]    0 = top->bottom, 1 = left->right
   2. StartColorStr=#aarrggbb   aa: 00 = transparent FF = opaque
   3. EndColorStr=#aarrggbb
      default startColorstr=#ff0000ff, endColorstr=#ff000000
   4. StartColor   :  synonym for StartColorStr
   5. EndColor     :  synonym for EndColorStr
   6. Enabled=[true|false]    causes filter to be enabled or disabled
*/
