* HTML * TABLE.qualifiers TD {
	FONT-SIZE: 0.8em
}
* HTML * TABLE#scope TR * {
	FONT-SIZE: 0.8em
}
.tab_inner_body_selected_click A {
	DISPLAY: inline-block; PADDING-BOTTOM: 5px
}
.tab_inner_body_selected_click A:visited {
	DISPLAY: inline-block; PADDING-BOTTOM: 5px
}
.tab_inner_body_normal A {
	DISPLAY: inline-block; PADDING-BOTTOM: 5px
}
.tab_inner_body_normal A:visited {
	DISPLAY: inline-block; PADDING-BOTTOM: 5px
}
UL.limiters-checkbox-group {
	MARGIN-LEFT: 0px
}
UL.limiters-checkbox-group LI.columns2 {
	WIDTH: 49%
}
.tab_inner_body_label {
	DISPLAY: inline-block
}
* HTML * #delivery_content #content TD.options {
	FONT-SIZE: 0.8em
}
#form {
	FONT-SIZE: 0.8em
}
* HTML * #delivery_content #content TD.optionsXport {
	FONT-SIZE: 0.8em; WIDTH: 25%
}
#form {
	FONT-SIZE: 0.8em; WIDTH: 25%
}
* HTML * #delivery_content #content TD.optionsXport FIELDSET {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
* HTML * #delivery_content #content TD.include {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 0.8em; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
* HTML * #delivery_content TD.left_column {
	FONT-SIZE: 0.8em
}
* HTML * #delivery_content TH.left_column {
	FONT-SIZE: 0.8em
}
* HTML * #delivery_content TD.right_column {
	PADDING-LEFT: 0px; FONT-SIZE: 0.8em; MARGIN-LEFT: 0px
}
* HTML * #delivery_content #content #form SPAN.comment {
	MARGIN-TOP: 2px; DISPLAY: block; FONT-SIZE: 1em; MARGIN-LEFT: 5px; FONT-STYLE: italic; WHITE-SPACE: nowrap
}
TABLE.popupContainer {
	WIDTH: 102.75%
}
* HTML TABLE.popupContainer H3 {
	WIDTH: 350px
}
* HTML TABLE.popupContainer DIV.messageBox_message {
	WIDTH: 350px
}
* HTML .topic-table A {
	WIDTH: 100%
}
* HTML .hover-standard A {
	WIDTH: 100%
}
#scriptStatus {
	POSITION: absolute
}
#scriptStatusFade {
	FILTER: alpha(opacity=0); ; LEFT: expression( ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft:document.body.scrollLeft ) + 'px' ); ; WIDTH: expression( window.document.scrollWidth + 'px' ); POSITION: absolute; ; TOP: expression( ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop ) + 'px' ); ; HEIGHT: expression( window.document.scrollHeight + 'px' )
}
* HTML .buggybox {
	HEIGHT: 1%
}
* + HTML .buggybox {
	HEIGHT: 1%
}
* + HTML DIV.authority-content {
	HEIGHT: 100%
}
.refResultsContent {
	TEXT-ALIGN: center
}
.confirmation-left {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; WIDTH: 120px; PADDING-TOP: 10px; HEIGHT: 50px
}
.confirmation-right {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 570px; PADDING-TOP: 10px; HEIGHT: 50px
}
.confirmation-continue-cell {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; WIDTH: 691px; PADDING-TOP: 5px
}
.confirmation-header-cell {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 691px; PADDING-TOP: 5px
}
* HTML .browse-item {
	WIDTH: 271px
}
* HTML .folder-tab H3 {
	DISPLAY: inline; PADDING-BOTTOM: 7px
}
* HTML .doctypes-tab H3 {
	DISPLAY: inline; PADDING-BOTTOM: 7px
}
* HTML .folder-tab {
	PADDING-TOP: 7px
}
.tab-state-change {
	HEIGHT: 1%
}
.folder-list-item {
	HEIGHT: 1%
}
.folder-list-item-selected {
	HEIGHT: 1%
}
.folder-item-type {
	HEIGHT: 1%
}
.folder-item-subtype {
	HEIGHT: 1%
}
.result-list {
	HEIGHT: 1%
}
.result-list LI {
	HEIGHT: 1%
}
.ref-result-list LI {
	HEIGHT: 1%
}
.folder-link {
	HEIGHT: 1%
}
.personal-folders LI {
	HEIGHT: 1%
}
.doctype-list LI {
	HEIGHT: 1%
}
.nav-tabs LI {
	HEIGHT: 1%
}
DL {
	HEIGHT: 1%
}
.citation-fields DD {
	HEIGHT: 1%
}
.result-list-save-search LI {
	HEIGHT: 1%
}
.toolbar-tab-area UL.nav-tabs {
	HEIGHT: 1%
}
* HTML .folder-item-detail {
	HEIGHT: 1%
}
* HTML .result-list-record {
	HEIGHT: 1%
}
* HTML DIV.mainContent {
	HEIGHT: 1%
}
.choose-db-list LI {
	HEIGHT: 1%
}
* HTML .master-page-content {
	HEIGHT: 1%
}
.content-padding-wrapper {
	HEIGHT: 1%
}
* HTML .result-list-record CITE {
	HEIGHT: 1%
}
.results-with-clusters {
	HEIGHT: 1%
}
.cluster-gradient-layer {
	HEIGHT: 1%
}
.refTabs {
	HEIGHT: 1%
}
.refTabs .nav-tabs {
	HEIGHT: 1%
}
* HTML .services_container UL {
	HEIGHT: 1%
}
.tocBody .toc-topNav {
	HEIGHT: 1%
}
.trial-db-list LI {
	HEIGHT: 1%
}
* HTML .tocBody .toc-topNav {
	HEIGHT: 1%
}
.ref-top-nav {
	HEIGHT: 1%
}
.folder-no-results {
	HEIGHT: 1%
}
.folderInputContainer {
	HEIGHT: 1%
}
DD.pref-value {
	HEIGHT: 1%
}
#preferencesDialog {
	HEIGHT: 1%
}
* HTML .limiters {
	HEIGHT: 1%
}
* HTML .expanders {
	HEIGHT: 1%
}
* HTML .limiter-item {
	HEIGHT: 1%
}
* HTML .commonLimiters {
	HEIGHT: 1%
}
* HTML DD.search-option-control {
	HEIGHT: 1%
}
.section-footer {
	HEIGHT: 1%
}
.sub-section-header {
	HEIGHT: 1%
}
.hover-links {
	HEIGHT: 1%
}
.folder-delivery-sort {
	HEIGHT: 1%
}
#delivery-item-count {
	HEIGHT: 1%
}
* HTML .citation-navigation-bar {
	HEIGHT: 1%
}
.find-field-controls {
	HEIGHT: 1%
}
.references-heading {
	HEIGHT: 1%
}
.ref-results-inner {
	HEIGHT: 1%
}
.ref-nav {
	HEIGHT: 1%
}
* HTML .leftPanel LI {
	HEIGHT: 1%
}
* HTML #folderTypeSystem {
	HEIGHT: 1%
}
.find-field-wrapper {
	HEIGHT: 1%
}
* HTML .cite-list DD {
	HEIGHT: 1%
}
* + HTML .toc-outer {
	HEIGHT: 1%
}
* + HTML .tocBody .toc-topNav {
	HEIGHT: 1%
}
.find-field-qbuilder .find-field-controls {
	HEIGHT: auto
}
* HTML .citation-fields DD {
	
}
* + HTML .citation-wrapping-div .citation-fields DD {
	MARGIN-LEFT: 26%; HEIGHT: auto
}
* + HTML .citation-fields DD {
	
}
DL.citation-fields DD.citation-image-box {
	MARGIN-LEFT: 15px
}
.right-to-left .dbselector .dyn-list-body {
	LEFT: -354px
}
* HTML .right-to-left .citation-fields DD {
	MARGIN-LEFT: 0px; ; MARGIN-RIGHT: expression(this.parentNode.offsetWidth * .26 - 3 + 'px')
}
* + HTML .right-to-left .citation-fields DD {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 26%
}
* + HTML .right-to-left .citation-fields DD.citation-title {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 26%
}
* HTML .right-to-left .record-formats {
	DISPLAY: block
}
.citation-fields DT {
	
}
* HTML .add-to-folder {
	PADDING-LEFT: 4px; LEFT: -4px
}
.citation-body-container .delivery-control .folder-delivery-item {
	PADDING-LEFT: 0px
}
#common-limiters DD LABEL {
	VERTICAL-ALIGN: middle
}
.dt-table {
	LEFT: 0px
}
* HTML .folder-items-nav-top UL.navLinks LI {
	HEIGHT: 1%
}
* HTML .folder-items-nav-top DIV {
	HEIGHT: 1%
}
* HTML .folderDropDown {
	WIDTH: 245px
}
.folderDropDown {
	HEIGHT: 210px
}
* HTML .share-folder-subscriber-panel {
	WIDTH: auto
}
* HTML .share-folder-body-panel {
	WIDTH: 74.5%
}
* + HTML .db-specific-limiters DD {
	PADDING-TOP: 3px
}
* + HTML #common-limiters DD {
	PADDING-TOP: 3px
}
* + HTML #expander-list DD {
	PADDING-TOP: 3px
}
* HTML .html-ft-toc {
	DISPLAY: inline
}
* HTML .related-inset-source-types {
	DISPLAY: inline
}
* HTML .main-content-browse {
	
}
.folder-create-modify SELECT {
	WIDTH: auto
}
.folder-create-modify TEXTAREA {
	WIDTH: auto
}
.share-folder-form TEXTAREA {
	WIDTH: auto
}
* HTML .folderDropDownShowLink {
	MARGIN-LEFT: 1px
}
* HTML .item-not-in-folder {
	HEIGHT: 1%
}
* HTML .item-in-folder {
	HEIGHT: 1%
}
* HTML .delivery-control {
	HEIGHT: 1%
}
* + HTML .html-ft-toc {
	POSITION: relative
}
* + HTML .delivery-control LI {
	WHITE-SPACE: normal; POSITION: relative; HEIGHT: 1%
}
* + HTML .format-control LI {
	WHITE-SPACE: normal; POSITION: relative; HEIGHT: 1%
}
* HTML .doctype-list LI {
	DISPLAY: inline
}
.citation-top .delivery-control {
	PADDING-TOP: 3px
}
.citation-bottom .delivery-control {
	PADDING-TOP: 3px
}
* + HTML .citation-inner-delivery-left {
	FLOAT: left; PADDING-TOP: 0px
}
* HTML .citation-inner-delivery-left {
	FLOAT: left; PADDING-TOP: 0px
}
.result-list-tabs {
	FLOAT: none
}
* + HTML .result-list-save-search LI {
	POSITION: relative
}
* HTML .language-select-cell .dyn-control-container {
	FLOAT: none
}
.highAlertButtonLink {
	COLOR: #fff! important
}
* HTML DIV.search_adv_doctypes {
	FLOAT: left
}
* HTML DIV.search_adv_limiters {
	FLOAT: left
}
* HTML .popSourcesBody {
	FLOAT: left
}
* HTML .services_container LI IMG {
	
}
* HTML #customPrint .customPrint-logo {
	
}
* HTML .library-link INPUT {
	MARGIN-TOP: 3px; ; HEIGHT: expression(this.clientHeight > 31 ? "31px":this.clientHeight)
}
* HTML .customerLogo IMG {
	
}
* HTML .citation-wrapping-div DL.citation-fields {
	WIDTH: 99%; MARGIN-RIGHT: -2px
}
* + HTML .right-to-left .citation-wrapping-div DL.citation-fields {
	WIDTH: 99%
}
* HTML .citation-fields DD IMG {
	
}
* + HTML .visual-search-citation .citation-wrapping-div {
	OVERFLOW: auto
}
* HTML .citation-fields DD.citation-image-box IMG {
	WIDTH: auto
}
* HTML .citation-fields DD UL.imgview-list-content IMG {
	WIDTH: auto
}
* HTML .citation-fields DD A.ils-link IMG {
	WIDTH: auto
}
IMG#imgBookmarkAndShare {
	WIDTH: 125px
}
.right-to-left .citation-formats LI {
	DISPLAY: inline
}
.right-to-left .full-text-container PRE {
	FONT-SIZE: 84%
}
.right-to-left .folder-counts {
	DISPLAY: inline-block; FLOAT: none
}
* HTML .right-to-left .delivery-control LI A {
	DISPLAY: inline-block
}
UL.toolbar-links .green-footer {
	COLOR: #f00
}
.green-footer H3 {
	COLOR: #f00
}
UL.toolbar-links .new-features-link A:link {
	COLOR: #ffffff
}
UL.toolbar-links .new-features-link A:visited {
	COLOR: #ffffff
}
* HTML .folder-items-nav-top {
	OVERFLOW: visible
}
* HTML .folder-create-modify {
	OVERFLOW: visible
}
* HTML .folder-create-modify-buttons {
	OVERFLOW: visible
}
* HTML .footer {
	OVERFLOW: visible
}
#CopyrightArea {
	HEIGHT: 1%
}
* HTML .dyn-control-container A.dyn-list-selector-active {
	PADDING-BOTTOM: 1px
}
* HTML .dyn-control-container A.dyn-list-selector-inactive {
	PADDING-BOTTOM: 1px
}
.visualnotification {
	MARGIN-LEFT: 50px
}
.spacer-row-small-extra {
	HEIGHT: 2px
}
TD.search_adv_browse_opt {
	VERTICAL-ALIGN: top; WIDTH: 20%; TEXT-ALIGN: left
}
DIV.search_adv_browse_opt {
	BORDER-RIGHT: #d3a1be 1px solid; BORDER-TOP: #d3a1be 1px solid; FLOAT: left; MARGIN: 0px 10px 10px 0px; VERTICAL-ALIGN: top; BORDER-LEFT: #d3a1be 1px solid; WIDTH: 95%; BORDER-BOTTOM: #d3a1be 1px solid; TEXT-ALIGN: left
}
DIV.search_adv_browse_opt .heading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 0.8em; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 0px; WIDTH: 99%; PADDING-TOP: 2px; BORDER-BOTTOM: #d3a1be 1px solid; BACKGROUND-COLOR: #f7edf3; TEXT-ALIGN: left
}
* + HTML DIV.search_adv_browse_opt .heading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 0.8em; FLOAT: left; PADDING-BOTTOM: 2px; WIDTH: 94%; PADDING-TOP: 2px; BORDER-BOTTOM: #d3a1be 1px solid; BACKGROUND-COLOR: #f7edf3; TEXT-ALIGN: left
}
DIV.search_adv_browse_opt .browse-options-dbname {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; FLOAT: left; MARGIN: 13px 0px 0px 10px; WIDTH: 80%; TEXT-ALIGN: left
}
DIV.search_adv_browse_opt .item {
	FONT-SIZE: 0.8em; FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 80%; TEXT-ALIGN: left
}
DIV.search_adv_browse_opt .subHead {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; FLOAT: left; MARGIN: 0px; WIDTH: 80%; TEXT-ALIGN: left
}
.find_field_codes_guided {
	PADDING-LEFT: 4.5em; FONT-WEIGHT: bold; FONT-SIZE: 0.85em; POSITION: relative; TEXT-ALIGN: left
}
#guided-find-fields .guided-buttons SPAN {
	MARGIN-TOP: 3px
}
#guided-find-fields .guided-buttons {
	HEIGHT: 1%
}
.results-quick-print {
	PADDING-TOP: 1px
}
#customPrint .addresses DD {
	TEXT-INDENT: -28pt
}
#customPrint .addresses DD P {
	TEXT-INDENT: 0pt
}
#records HR {
	MARGIN: 0px 0px 15px
}
* HTML #findFieldLinks LI {
	BORDER-RIGHT-STYLE: solid
}
* HTML .choose-db-link {
	BORDER-LEFT-STYLE: solid
}
* HTML .resultListPanel .relevance-meter {
	BORDER-LEFT-STYLE: solid
}
* HTML .resultListPanel .result-list-cite-ref-label {
	BORDER-LEFT-STYLE: solid
}
* HTML .resultListPanel .result-list-cite-link {
	BORDER-LEFT-STYLE: solid
}
* HTML .ref-results-inner .relevance-meter {
	BORDER-LEFT-STYLE: solid
}
* HTML .ref-results-inner .result-list-cite-ref-label {
	BORDER-LEFT-STYLE: solid
}
* HTML .ref-results-inner .result-list-cite-link {
	BORDER-LEFT-STYLE: solid
}
* HTML .ref-times-cited {
	BORDER-LEFT-STYLE: solid
}
* HTML .ehostfooter LI {
	BORDER-LEFT: 1px solid
}
.toolbar {
	FLOAT: left
}
.right-to-left .record-additional {
	HEIGHT: 1%
}
DD.search-option-control INPUT {
	VERTICAL-ALIGN: middle
}
.float-left-ie {
	FLOAT: left
}
#preferencesDialog DD INPUT {
	VERTICAL-ALIGN: middle
}
#preferencesDialog SELECT {
	FONT-SIZE: 100%
}
.pref-email-text {
	FONT-SIZE: 100%
}
.result-list-top {
	FLOAT: none
}
.relevance-meter {
	VERTICAL-ALIGN: top
}
* HTML #outer-container {
	HEIGHT: 100%
}
.ehostfooter {
	WIDTH: 100%
}
.main-content-auth-browse {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffffff 0% 50%; PADDING-BOTTOM: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.bottom-margin-ie {
	DISPLAY: block; MARGIN-BOTTOM: 50px
}
.link-medium-bold {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em
}
.disabled-link-medium-bold {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em
}
.authority-browse-nav {
	MARGIN-TOP: 0px; PADDING-LEFT: 20px
}
.left-padding-20 {
	PADDING-LEFT: 25px
}
.left-padding-ie {
	PADDING-LEFT: 30px
}
* HTML .note-bg {
	WIDTH: 39%
}
TABLE.authority-record TD {
	PADDING-LEFT: 25px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TABLE.authority-record-last TD {
	PADDING-LEFT: 25px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.ie-block {
	CLEAR: right; MARGIN-BOTTOM: 30px
}
.auth-details {
	BORDER-RIGHT: #e7e7e7 1px solid; WIDTH: 80%; HEIGHT: auto; BACKGROUND-COLOR: #ffffff
}
.auth-issue-tree {
	WIDTH: 19.5%
}
* HTML .auth-issue-tree {
	MARGIN-LEFT: 80%; VERTICAL-ALIGN: top; BACKGROUND-COLOR: #f8f8f8
}
.authdetailbg {
	DISPLAY: inline; BACKGROUND-COLOR: #f8f8f8
}
.authVolIssue_volume_cell {
	VERTICAL-ALIGN: top; WIDTH: 200px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.authVolIssue_container {
	MARGIN: 0px; BACKGROUND-COLOR: #f8f8f8
}
.main-db-label {
	PADDING-BOTTOM: 50px; PADDING-TOP: 40px
}
* HTML * DIV#bodyRightDivFormatButtons {
	MARGIN-TOP: 0px
}
* + HTML * DIV#bodyRightDivFormatButtons {
	MARGIN-TOP: 0px
}
* HTML DL.preview-detail {
	FONT-SIZE: 0.8em
}
.related-info-thumbnails .related-info-shadow {
	PADDING-BOTTOM: 2px
}
* HTML .cluster-more-link {
	MARGIN-TOP: -24px
}
* HTML .cluster-header-background {
	MARGIN: 0px
}
* HTML .leftPanel .cluster-categories {
	MARGIN: 3px 0px 0px
}
* + HTML .cluster-more-link {
	MARGIN-TOP: auto
}
* HTML UL.cluster-category {
	PADDING-BOTTOM: 24px
}
* + HTML UL.cluster-category {
	PADDING-BOTTOM: 0px
}
* HTML .ep-dialog-main-inner {
	HEIGHT: 100%
}
* HTML .ep-dialog-top {
	FONT-SIZE: 0px
}
* HTML .ep-dialog-bottom {
	FONT-SIZE: 0px
}
* HTML .ep-dialog-top-left {
	BACKGROUND-IMAGE: url(http://swtuopproxy.museglobal.com/MuseSessionID=c9403e7f8cd0c3e0b66f691c1b93b3b7/MuseHost=imageserver.ebscohost.com/MusePath/WebDevImages/Hover.gif)
}
* HTML .ep-dialog-top-rt {
	BACKGROUND-IMAGE: url(http://swtuopproxy.museglobal.com/MuseSessionID=c9403e7f8cd0c3e0b66f691c1b93b3b7/MuseHost=imageserver.ebscohost.com/MusePath/WebDevImages/Hover.gif)
}
* HTML .ep-dialog-bot-left {
	BACKGROUND-IMAGE: url(http://swtuopproxy.museglobal.com/MuseSessionID=c9403e7f8cd0c3e0b66f691c1b93b3b7/MuseHost=imageserver.ebscohost.com/MusePath/WebDevImages/Hover.gif)
}
* HTML .ep-dialog-bot-rt {
	BACKGROUND-IMAGE: url(http://swtuopproxy.museglobal.com/MuseSessionID=c9403e7f8cd0c3e0b66f691c1b93b3b7/MuseHost=imageserver.ebscohost.com/MusePath/WebDevImages/Hover.gif)
}
* HTML .dialog-left-arrow {
	BACKGROUND-IMAGE: url(http://swtuopproxy.museglobal.com/MuseSessionID=c9403e7f8cd0c3e0b66f691c1b93b3b7/MuseHost=imageserver.ebscohost.com/MusePath/WebDevImages/Hover.gif)
}
* HTML .dialog-rt-arrow {
	BACKGROUND-IMAGE: url(http://swtuopproxy.museglobal.com/MuseSessionID=c9403e7f8cd0c3e0b66f691c1b93b3b7/MuseHost=imageserver.ebscohost.com/MusePath/WebDevImages/Hover.gif)
}
* HTML .dialog-top-arrow {
	BACKGROUND-IMAGE: url(http://swtuopproxy.museglobal.com/MuseSessionID=c9403e7f8cd0c3e0b66f691c1b93b3b7/MuseHost=imageserver.ebscohost.com/MusePath/WebDevImages/Hover.gif)
}
* HTML .dialog-bot-arrow {
	BACKGROUND-IMAGE: url(http://swtuopproxy.museglobal.com/MuseSessionID=c9403e7f8cd0c3e0b66f691c1b93b3b7/MuseHost=imageserver.ebscohost.com/MusePath/WebDevImages/Hover.gif)
}
* HTML .cluster-decor-arrow {
	BACKGROUND-IMAGE: url(http://swtuopproxy.museglobal.com/MuseSessionID=c9403e7f8cd0c3e0b66f691c1b93b3b7/MuseHost=imageserver.ebscohost.com/MusePath/WebDevImages/Hover.gif)
}
* HTML .ep-dialog-top {
	BACKGROUND-IMAGE: url(http://swtuopproxy.museglobal.com/MuseSessionID=c9403e7f8cd0c3e0b66f691c1b93b3b7/MuseHost=imageserver.ebscohost.com/MusePath/WebDevImages/HoverTopBot.gif)
}
* HTML .ep-dialog-bottom {
	BACKGROUND-IMAGE: url(http://swtuopproxy.museglobal.com/MuseSessionID=c9403e7f8cd0c3e0b66f691c1b93b3b7/MuseHost=imageserver.ebscohost.com/MusePath/WebDevImages/HoverTopBot.gif)
}
* HTML .ep-dialog-main {
	HEIGHT: 1%
}
* HTML .ep-dialog-main {
	BACKGROUND-IMAGE: url(http://swtuopproxy.museglobal.com/MuseSessionID=c9403e7f8cd0c3e0b66f691c1b93b3b7/MuseHost=imageserver.ebscohost.com/MusePath/WebDevImages/HoverLeftRight.gif)
}
* HTML .ep-dialog-main-inner {
	BACKGROUND-IMAGE: url(http://swtuopproxy.museglobal.com/MuseSessionID=c9403e7f8cd0c3e0b66f691c1b93b3b7/MuseHost=imageserver.ebscohost.com/MusePath/WebDevImages/HoverLeftRight.gif)
}
.ehostfooter UL {
	MARGIN-LEFT: -8px
}
.ehostfooter LI {
	BORDER-LEFT: 1px dotted; TEXT-ALIGN: center
}
* HTML .select-product {
	BORDER-LEFT: 1px solid
}
.button {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.buttonUpdate {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.submit_emailprint {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
* HTML .results-limiter-content LI #PubDateRangeT {
	FONT-SIZE: 0px
}
.ref-results-options {
	MARGIN-RIGHT: 18%
}
* HTML .citation-delivery-bar {
	OVERFLOW: visible; HEIGHT: 1%
}
DL.citation-fields {
	OVERFLOW: hidden; HEIGHT: 1%
}
* HTML .visual-search-citation {
	WIDTH: 96%
}
* HTML .visual-search-citation DL.citation-fields {
	WIDTH: auto; HEIGHT: auto
}
#citeDialog .main-section-header {
	HEIGHT: 26px
}
#searchOptionsDialog .main-section-header {
	HEIGHT: 26px
}
* HTML .auth-details .citation-plink-textbox {
	
}
* HTML .citation-fields DD IMG.addThis {
	WIDTH: auto
}
* + HTML DL.ebsco-content {
	HEIGHT: auto
}
* + HTML DL.print-citation {
	HEIGHT: auto
}
.find-field-qbuilder .searching-choose-databases {
	MARGIN-BOTTOM: 0px
}
.find-field-qbuilder .find-field-inputs {
	MARGIN-TOP: 0px
}
* HTML .related-words-link {
	MARGIN-LEFT: 2.1em
}
