#navtabs LI {
	BACKGROUND: url(/images/common/left_both.gif) no-repeat left top
}
#navtabs A {
	BACKGROUND: url(/images/common/right_both.gif) no-repeat right top
}
.gold LI {
	BACKGROUND: url(/images/common/left_gold.gif) no-repeat left top
}
.gold A {
	BACKGROUND: url(/images/common/right_gold.gif) no-repeat right top
}
.yellow LI {
	BACKGROUND: url(/images/common/left_yellow.gif) no-repeat left top
}
.yellow A {
	BACKGROUND: url(/images/common/right_yellow.gif) no-repeat right top
}
.pillLeft {
	BACKGROUND: url(/images/common/pill_left.gif) no-repeat left top
}
.pillRight {
	BACKGROUND: url(/images/common/pill_right.gif) no-repeat right top
}
#moreOptButtonLeft {
	BACKGROUND: url(/images/common/tab_lt_off.gif) no-repeat left top; WIDTH: 8px
}
#moreOptButtonRight {
	BACKGROUND: url(/images/common/tab_right.gif) no-repeat right top
}
.suggestRow {
	BACKGROUND-COLOR: #ffffcc
}
