.hidePrint {
	VISIBILITY: hidden
}
.nodisplayPrint {
	DISPLAY: none
}
#navtabs {
	FONT-SIZE: 75%; WIDTH: 100%; LINE-HEIGHT: normal
}
#navtabs UL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#navtabs LI {
	PADDING-RIGHT: 1px; PADDING-LEFT: 9px; BACKGROUND: url(/images/common/x.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#navtabs #nav-Desc {
	COLOR: #000
}
#navtabs A {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: black 1px solid; DISPLAY: block; PADDING-LEFT: 6px; FONT-WEIGHT: normal; BACKGROUND: url(/images/common/x.gif) #c3dc79 no-repeat right top; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: black 1px solid; WIDTH: 0.1em; PADDING-TOP: 0px; BORDER-BOTTOM: black 1px solid; WHITE-SPACE: nowrap
}
#navtabs > UL A {
	WIDTH: auto
}
#navtabs A {
	FLOAT: none
}
#basic #nav-basic {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#advanced #nav-advanced {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#topics #nav-topics {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#publications #nav-publications {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#myresearch #nav-myresearch {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#basic #nav-basic A {
	PADDING-BOTTOM: 0px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #f90
}
#advanced #nav-advanced A {
	PADDING-BOTTOM: 0px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #f90
}
#topics #nav-topics A {
	PADDING-BOTTOM: 0px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #f90
}
#publications #nav-publications A {
	PADDING-BOTTOM: 0px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #f90
}
#myresearch #nav-myresearch A {
	PADDING-BOTTOM: 0px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #f90
}
#navtabs #nav-myresearch A {
	
}
#MyResearchBR {
	DISPLAY: block
}
.tabLeft {
	BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid
}
.tabLeft IMG {
	VISIBILITY: hidden
}
.tabRight {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid
}
.tabMiddle {
	BORDER-TOP: black 1px solid
}
.tabRight IMG {
	VISIBILITY: hidden
}
