#navtabs #nav-myresearch A {
	LINE-HEIGHT: 0.75em
}
#resultTabs B.t {
	TOP: 3px
}
DIV#basic {
	PADDING-BOTTOM: 1px
}
DIV#advanced {
	PADDING-BOTTOM: 1px
}
DIV#topics {
	PADDING-BOTTOM: 1px
}
DIV#studypath {
	PADDING-BOTTOM: 1px
}
DIV#publications {
	PADDING-BOTTOM: 1px
}
DIV#myresearch {
	PADDING-BOTTOM: 1px
}
DIV#browse {
	PADDING-BOTTOM: 1px
}
DIV#unknown {
	PADDING-BOTTOM: 1px
}
DIV#data {
	PADDING-BOTTOM: 1px
}
#moreOptButtonLeft {
	PADDING-BOTTOM: 3px
}
.buttonTransparent {
	PADDING-RIGHT: 3px
}
#searchButton DIV.button {
	TOP: 0px
}
#whereIsButton {
	TOP: -3px
}
#searchInputLine {
	LEFT: -17px; POSITION: relative
}
.resultsFormats UL LI A {
	BORDER-LEFT: #fff 1px solid
}
BODY.lang_ar #whereIsButton {
	DISPLAY: block; LEFT: -30px; TOP: -12px
}
BODY.lang_ar#basicSearch #whereIsButton {
	TOP: -18px
}
BODY.lang_ar .hidden {
	LEFT: 1000em
}
#ajaxPopup #thetree UL {
	LEFT: -40px; POSITION: relative
}
