   body {font-size:14pt;width:35em;padding:4em;text-align:justify;}
   h1 {font-size:125%;}
	h2 {font-size:115%;}
	h3 {font-size:110%;}
	h4 {font-size:105%;}
	h5 {font-size:100%;}
	h6 {font-size:95%;}
	sup, sub {font-size:75%;}
	.th-btm th {vertical-align:bottom;}
	.td-cent td {text-align:center;}
	.left {text-align:left ! important;}
	.img-right {margin:1em 0 1em 1.5em;float:right;}
	.img-left {margin:1em 1.5em 1em 0;float:left;}
	table.zero-margin-list * ul, table.zero-margin-list * ol {margin:0 auto;}
	p.hang {margin-left:1.5em;text-indent:-1.5em;}
	ul ul ul {list-style-type:circle;}
