
body {width:100%;}
img {width:100%;margin:1em auto;border:1px solid blue;}
img.float-right, img-right {float:right;margin:1em 0 1em 1.5em;width:auto;}
img.float-left, img-left {float:left;margin:1em 1.5em 1em 0;width:auto;}

 .outerblock {margin:2em auto;clear:both;width:40em}
 .contentblock {text-align:justify;padding:1em 1.5em;}

p.date {margin:2em auto 1em -5%;width:110%;color:#e70;
   font:bold 14pt Verdana,Arial,sans-serif;border-top:5px outset #300;}

math[display] {margin-left:3em;text-align:left;font-family:serif;margin-top:1em;}
math {color:blue;}

 #motd {background-color:#fff0f0;color:black;text-align:center;margin:0 auto;
   font:normal 100% Tahoma,Verdana,sans-serif;padding:0.3em 1em;width:80%;}
